.gridBox { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    justify-items:center;
    padding: 20px;
}

.more { 
    align-items: center;
    margin-top: 30px;
}